.col-md-4
  = simple_form_for(@home_task) do |f|
    = f.error_notification

    .form-inputs
      = f.input :title, label: "名称", :input_html => { :class => 'form-control' }, wrapper_html: { class: 'form-group'}
      = f.input :description, label: "内容", :input_html => { :class => 'form-control' }, wrapper_html: { class: 'form-group'}
      = f.input :task_type, label: "类型", :input_html => { :class => 'form-control' }, wrapper_html: { class: 'form-group'}
      = f.input :published, as: :boolean, label: "发布", :input_html => { :class => 'form-control' }, wrapper_html: { class: 'form-group'}

    .form-actions
      = f.button :submit, "创建", class: 'btn btn-primary'
      = link_to "取消", home_tasks_path, class: 'btn btn-info'
