%p#notice= notice

%p
  %b Order:
  = @youmin.order
%p
  %b App:
  = @youmin.app
%p
  %b Ad:
  = @youmin.ad
%p
  %b Adid:
  = @youmin.adid
%p
  %b User:
  = @youmin.user
%p
  %b Devise:
  = @youmin.devise
%p
  %b Chn:
  = @youmin.chn
%p
  %b Price:
  = @youmin.price
%p
  %b Points:
  = @youmin.points
%p
  %b Time:
  = @youmin.time
%p
  %b Sig:
  = @youmin.sig
%p
  %b Sign:
  = @youmin.sign
%p
  %b Source:
  = @youmin.source

= link_to 'Edit', edit_youmin_path(@youmin)
\|
= link_to 'Back', youmins_path
