%tr
  %td 
    = num
  %td{:data => {:id => "#{task.id}"}}  
    %input.toggle{:type => "checkbox", :name => "check-items"}      
  %td
    = task.order.html_safe
  %td 
    = task.app.html_safe
  %td 
    = task.ad.html_safe  
  %td 
    = task.adid
  %td 
    = task.user.html_safe
  %td 
    = task.device.html_safe
  %td 
    = task.chn
  %td 
    = task.price
  %td 
    = task.points
  %td 
    = task.time
  %td 
    = task.sig.html_safe
  %td 
    = task.sign.html_safe
  / %td
  /   %button.btn.btn-info.btn-sm 审阅