<!DOCTYPE html>
<html>
  <head>
    <title>WRD Valves Site Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= root_url%>css/adminstyle.css" rel="stylesheet">
    <script src="<%= root_url%>js/accordian.pack.js" type="text/jscript"></script>

  </head>
  <body onload="new Accordian('basic-accordian',5,'header_highlight');">
    <%= render :partial => 'admin/common/head' %>   

     <%= yield %> 

    <%= render :partial => 'admin/common/footer' %>

  </body>
</html>

